/* ========== Navigation Bar Home ========== */
.navigation-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0;
}

.navigation-bar .links {
	display: flex;
	justify-content: space-evenly;
	background-color: #000000;
	padding: 5px 0;
	margin: 0
}

/* cambiar por a  */
.navigation-bar button,
.nav-link{
	color: white;
	background-color: transparent;
	border: none;
	text-decoration: none;
	padding: 0.5em;
	font-weight: bold;
}

.navigation-bar button:hover,
.nav-link:hover{
	color: #623a97;
}

.arrow-wrapper {
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
}

.arrow {
	padding: 5px 7px;
	border-radius: 8px;
	font-size: 14px;
	background-image: linear-gradient(to left, #025d48, #258a59, #5ab75b);
}

/* ========== Section Styles ========== */
.hero,
.promo {
	align-items: center;
	display: flex;
	height: 100vh;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.hero {
	background-image: url('../images/home-bg.png');
}

.course-details {
	padding: 80px 60px 50px 60px;
}

.instructor {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url('https://ann.axiomthemes.com/splash/src/img/reward/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #f6f6f6;
}

.payment {
	padding: 80px 60px;
	justify-content: space-between;
}

.benefits {
	padding: 0px 60px;
}

.contact {
	height: 100vh;
	align-items: center;
	justify-content: space-between;
	padding: 0 60px;
}

.footer{
	padding: 30px 60px;
	background-color: #000000;
}

/* ========== Hero Section ========== */
.hero-text {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.hero-text h1,
.hero-text p {
	background: rgba(0, 0, 0, 0.7);
	padding: 0.5em;
	border-radius: 10px;
}

.hero-text h1 {
	width: 750px;
	margin-bottom: 0.5em;
}

.hero-text p {
	max-width: 600px;
	margin-bottom: 1em;
}

.continue-button {
	padding: 0.5em 1em;
	background-image: linear-gradient(to left, #025d48, #258a59, #5ab75b);
	border: none;
	cursor: pointer;
	color: white;
	border-radius: 20px;
	font-weight: bold;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
}

.button-icon {
	display: none;
}

/* ========== Course Details Section ========== */

.images-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.details-block {
	text-align: center;
}

.image-wrapper {
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	margin: 5px;
	width: 100%;
}

.image-wrapper img {
	width: 320px;
	border-radius: 8px;
	transition: transform 0.3s ease;
}

.image-hover:hover img {
	transform: scale(1.05);
}

.image-hover:hover .hover-text {
	top: 0;
}

.hover-text {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 20px;
	transition: top 0.3s ease;
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

/* ========== Benefits Section ========== */

.benefit-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: #13142b;
	padding: 20px;
}

.benefit-card.large {
	height: 300px;
}

.benefit-card.medium {
	height: 250px;
}

.benefit-card.small {
	height: 200px;
}

.benefit-card i {
	font-size: 24px;
}

.benefit-card.large img {
	width: 150px;
}

.benefit-card.medium img {
	width: 100px;
}

.benefit-card.small img {
	width: 70px;
}

/* ========== Instructor Section ========== */
.instructor img {
	width: 250px;
}

/* ========== Payment Section ========== */
.icon-name {
	display: flex;
	align-items: center;
}

.fa-check {
	margin-right: 12px;
	background-color: #09a050;
	border-radius: 50%;
	padding: 6px;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

/* Overlay image */
.overlay-image-container {
	position: absolute;
	top: 80%;
	left: 25%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

/* ========== Contact ========== */
.form-image {
	display: flex;
	align-items: center;
	background-image: url('https://esceniarte.s3.amazonaws.com/logo.jpeg');
	height: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* ========== Footer ========== */
.email-send i,
.email-send span{
	cursor: pointer;
	font-size: 24px;
	color: #a9a7b0;
}

.email-send:hover i{
	color: #623a97;
}

/* ========== Responsive Design Adjustments ========== */
/* Adjustments for screens smaller than 1149px */
@media (max-width: 1149px) {

	.benefits,
	.payment,
	.contact{
		padding: 50px 25px;
	}

	.footer {
	padding: 25px 25px;
	}

	.course-details {
		padding: 80px 25px 30px 25px;
	}

	.benefit-card.medium img {
		width: 80px;
	}

	.no-1149-screen {
		display: none;
	}
}

/* Adjustments for screens smaller than 992px */
@media (max-width: 992px) {
	.hero-text h1 {
		font-size: 48px;
		width: 600px;
	}

	.hero-text p {
		display: none;
	}

	.continue-button {
		padding: 0.5em 1em;
		border-radius: 20px;
		font-weight: bold;
		position: absolute;
		bottom: 80px;
		left: 50%;
		transform: translateX(-50%);
	}
	.image-wrapper img {
		width: 180px;
	}

	.arrow-wrapper {
		margin-right: 20px;
	}

	.benefit-card.large,
	.benefit-card.medium,
	.benefit-card.small {
		height: 300px;
	}

	.email-send i,
	.email-send span{
		font-size: 20px;
	}
}

/* Adjustments for screens smaller than 768px */
@media (max-width: 768px) {
	.hero-text h1 {
		font-size: 36px;
		width: 500px;
	}

	.hero-text p {
		max-width: 500px;
		font-size: 12px;
		font-weight: 600;
	}

	.course-details {
		padding: 80px 20px 20px 20px;
	}

	.image-wrapper img {
		width: 350px;
	}

	.change-display{
		display: flex;
		justify-content: space-between;
	}

	.benefit-card.large,
	.benefit-card.medium,
	.benefit-card.small {
		height: 250px;
	}

	.benefit-card.large img {
		width: 100px;
	}

	.benefit-card.medium img {
		width: 70px;
	}

	.contact,
	.footer{
		padding: 40px 20px;
	}

	.contact {
		background-image: url('https://esceniarte.s3.amazonaws.com/logo.jpeg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	.contact h2,
	.contact h4 {
		position: relative;
		z-index: 1;
	}

	.contact h2::before,
	.contact h4::before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #0d111adb;
		height: fit-content;
		border-radius: 8px;
	}

	.contact h4::before {
		width: 125px;
		height: 30px;
	}

	.contact h2::before {
		width: 345px;
		height: 45px;
	}
}

/* Adjustments for screens smaller than 576px */
@media (max-width: 576px) {
	.hero-text h1 {
		font-size: 34px;
		width: 400px;
	}

	.hero-text p {
		max-width: 460px;
		font-size: 12px;
	}

	.course-details {
		padding: 80px 20px 10px 20px;
	}

	.change-display{
		display: inline;
		justify-content: space-between;
	}

	.contact h2::before {
		width: 275px;
		height: 35px;
	}
}

/* Adjustments for screens smaller than 480px */
@media (max-width: 576px) {
	.arrow {
		padding: 2px 5px;
	}

	.hero,
	.promo,
	.instructor,
	.contact {
	  background-attachment: scroll; /* Deshabilita fixed para dispositivos móviles */
	  background-size: cover; /* Ajusta según necesites */
	}

	.hero-text h1 {
		width: 320px;
	}

	.course-details {
		padding: 80px 0px 5px 0px;
	}

	.image-hover:hover img {
		transform: none;
		/* Removes transformation on mobile devices for usability */
	}

	.contact {
		padding: 0;
	}
}

@media (max-width: 340px) {
	.email-send i,
	.email-send span{
	  font-size: 14px;
	}
  }
