/* MODULE */
.module-details {
	padding: 80px 80px;
  }

  .class-wrapper {
	background-color: #0d111a;
	color: #dbdcdd;
	margin: 30px 0;
	align-items: center;
  }

  .class-wrapper:first-child {
	margin: 0 0 30px 0;
  }

  .class-wrapper h3 {
	font-weight: bold;
  }

  .class-wrapper hr {
	width: 20%;
	height: 2px;
	background-color: #dbdcdd;
  }

  .class-wrapper img {
	cursor: pointer;
  }

  .btn-pdf {
	border: none;
	background-color: #6601ff;
	color: #ffffff;
	padding: 5px 17px 6px;
	font-size: 11px;
	border-radius: 8px;
  }

  .side-navbar {
	background-color: #0d111a;
  }

  .full-modal .fa-x {
	cursor: pointer;
	font-size: 26px;
  }
