/* General application styles */
/* ========== Typography ========== */
h1 {
  font-size: 4em;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h5 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

/* ========== Layout & Grid ========== */
.app {
  text-align: center;
  background: linear-gradient(145deg, #025d48, #041110);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-center {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

/* ========== Buttons & Links ========== */
.fixed-button {
  position: fixed;
  top: 40px;
  right: 40px;
  padding: 1.1em 2.1em;
  z-index: 1000;
}

.btn-green,
.btn-purple {
  padding: 1em 2em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.btn-green {
  background-image: linear-gradient(to left, #025d48, #258a59, #5ab75b);
}

.btn-purple {
  background-image: linear-gradient(to left, #025d48, #483a97, #623a97);
}

/* Hover states */
.btn-green:hover,
.btn-purple:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn-green:hover {
  background-image: linear-gradient(to left, #025d48, #483a97, #623a97);
}

.btn-purple:hover {
  background-image: linear-gradient(to left, #025d48, #258a59, #5ab75b);
}

/* ========== Forms ========== */
.form {
  background-color: #0d111a;
  padding: 50px 60px;
}

.form-group {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #362a2a;
  overflow: hidden;
}

.input-error {
  border-bottom: 1px solid #9f1d1d;
}

.form-group::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #f6f6f6;
  transition: width 0.5s ease-in-out;
}

.form-group:hover::after {
  width: 100%;
}

.form-group i {
  font-size: 24px;
  color: #a9a7b0;
}

/* ========== Utility Classes ========== */
.text-error {
  color: #9f1d1d;
}

.text-purple {
	color: #623a97;
}

.text-green {
	color: #258a59;
}

.no-big-medium-screen {
  display: none;
}

.no-big-screen {
  display: none;
  margin: 40px 0;
}

.bold{
  font-weight: 700;
}
/* ========== Login View ========== */
.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 100px 60px;
}

#signInDiv {
  /* max-width: 100%; */
  padding: 2px;
  background-color: #623a97;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

#signInDiv:hover {
  background-color: #5ab75b;
}

.second-sign-in{
  display: none;
}

.remember-password {
  color: #a9a7b0;
  text-decoration: none;
  font-size: 12px;
  margin: 12px 0 0 0;
}

/* ========== Dashboard View ========== */
.dashboard {
	padding: 70px;
}

.module img {
	border-radius: 20px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

/* ========== Responsive Adjustments ========== */
@media (max-width: 1149px) {
  .fixed-button {
    top: 20px;
    right: 20px;
    padding: 0.8em 1.9em;
  }
  h1 {
    font-size: 2.8em;
    font-weight: 700;
  }
}

@media (max-width: 992px) {
  h2 {
    font-size: 36px;
  }

  .form-group i {
    font-size: 20px;
  }

  .no-medium-screen {
    display: none;
  }

  .no-big-screen {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 32px;
  }

  .no-small-screen {
    display: none;
  }

  .no-big-medium-screen {
    display: flex;
  }

  .first-sign-in{
    display: none;
  }

  .second-sign-in{
    display: flex;
  }

  .form-image {
    padding: 100px 60px;
  }

  .btn-green {
    padding: 0.7em 1.5em;
    font-size: 14px;
  }

  .login {
    height: auto;
    padding: 40px 0;
    justify-content: start;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 26px;
  }

  .fixed-button {
    padding: 0.5em 1em;
    font-size: 14px;
  }

  .form-image {
    padding: 100px 20px;
  }
}

@media (max-width: 480px) {
  .form-image {
    padding: 80px 10px;
  }
}

@media (max-width: 340px) {
  .form-group i {
    font-size: 14px;
  }
}
