/* General application styles */
.app {
  text-align: center;
  background: linear-gradient(145deg, #025d48, #041110);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h2{
  font-size: 48px;
  width: 750px;
}

a{
  color: #f6f6f6;
  text-decoration: none;
}
.header-center{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.purple-button {
  position: fixed; /* Fixed position relative to the viewport */
  top: 40px; /* Space from the top */
  right: 40px; /* Space from the right */
  padding: 1.1em 2.1em;
  background-image: linear-gradient(to left, #025d48, #483a97, #623a97);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  z-index: 1000; /* Ensure the button is above other elements */
  transition: all 0.3s ease-in;
}

.purple-button:hover {
  background-image: linear-gradient(to left, #025d48, #258a59, #5ab75b);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn-green,
.btn-purple {
  padding: 1em 2em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.btn-green{
  background-image: linear-gradient(to left, #025d48, #258a59, #5ab75b);
}

.btn-purple{
  background-image: linear-gradient(to left, #025d48, #483a97, #623a97);

}
.btn-green:hover,
.btn-purple:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.btn-green:hover{
  background-image: linear-gradient(to left, #025d48, #483a97, #623a97);
}
.btn-purple:hover{
  background-image: linear-gradient(to left, #025d48, #258a59, #5ab75b);
}
/* FORMS */
.form{
	background-color: #0d111a;
	padding: 50px 60px;
}
.form-group {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #2a2e36;
	overflow: hidden;
  }

  .form-group::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: #f6f6f6;
	transition: width 0.5s ease-in-out;
  }

  .form-group:hover::after {
	width: 100%;
  }

.form-group i{
	font-size: 24px;
	color: #a9a7b0;
}
input,
textarea{
	background-color: transparent;
	border: none;
	color: #f6f6f6;
	resize: none;
}
textarea:focus, input:focus{
    outline: none;
}

/* LOGIN */
.login{
  display: flex;
  flex-direction: row;
	background-color: #000319;
	color: #f6f6f6;
	height: 100vh;
	align-items: center;
	justify-content: space-between;
	padding: 0 60px;
}

.remember-password{
  color: #a9a7b0;
  text-decoration: none;
  font-size: 12px;
  margin: 12px 0 0 0;
}

.error{
  color: #ff5b4a;
  display: none;
}

/* MODULE */
.module-details{
  padding: 80px 80px;
}

.class-wrapper{
  background-color: #0d111a;
  color: #dbdcdd;
  margin: 30px 0;
  align-items: center;
}

.class-wrapper:first-child{
  margin: 0 0 30px 0;
}

.class-wrapper h3{
  font-weight: bold;
}

.class-wrapper hr{
  width: 20%;
  height: 2px; /* Establece la altura deseada */
 /* Elimina el borde predeterminado */
  background-color: #dbdcdd;
}

.class-wrapper img{
  cursor: pointer;
}

.btn-pdf{
  border: none;
  background-color: #6601ff;
  color: #ffffff;
  padding: 5px 17px 6px;
  font-size: 11px;
  border-radius: 8px;
}

.side-navbar{
  background-color: #0d111a;
}

.full-modal .fa-x{
  cursor: pointer;
  font-size: 26px;
}
/* Responsive design adjustments */
@media (max-width: 992px) {
	h2 {
		font-size: 36px;
	}
  .form-group i{
    font-size: 20px;
  }
}

@media (max-width: 768px) {
	h2 {
		font-size: 32px;
	}

  .login{
    height: 100%;
    padding: 20px 0;
    /* flex-direction: row-reverse; */
    justify-content: start;
  }

  .no-small-screen{
    display: none;
  }
  .form-image{
    padding: 100px 60px;
  }
}

@media (max-width: 576px) {
	h2 {
		font-size: 26px;
	}

  .form-image{
    padding: 100px 20px;
  }
}

@media (max-width: 480px) {
  .form-image{
    padding: 80px 10px;
  }
}

@media (max-width: 340px) {
  .form-group i{
    font-size: 14px;
  }
}
